body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #89ccd1;
}

.todo_list {
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 10px 20px;
    padding: 15px;
}

ul {
    list-style-position: inside; /* Posiziona il punto di lista all'interno dell'elemento */
    text-align: center; /* Centra il testo e i punti della lista */
    padding: 0;
}

li {
    margin: 10px;
}

.delete_btn, .completed_btn {
    margin-left: 1rem;
}

.container {
    width: 60%;
    margin: auto;
}

input, #Aggiungi, .completed_btn, .delete_btn {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
}

#Aggiungi:hover, .completed_btn:hover {
    cursor: pointer;
    background-color: #0CCE6B;
}

.delete_btn:hover {
    cursor: pointer;
    background-color: #D7263D;
}
